apiVersion: apps/v1
kind: Deployment
metadata:
  name: insuretech-app
  labels:
    app: insuretech-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: insuretech-app
  template:
    metadata:
      labels:
        app: insuretech-app
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: insuretech-app
          image: k8s.gcr.io/echoserver:1.10
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "20Mi"
              cpu: "50m"
            limits:
              memory: "30Mi"
              cpu: "200m"
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 15
